/**
 * Sections: Featured collection
 * -----------------------------------------------------------------------------
 * Base styling for the featured collection product grid.
 *
 */
.featured-collection {
    margin: 40px 100px 70px 100px;
    @include media-query($small) {
        margin: 20px 18px 60px 18px;
    }
    h2 {
        font-size: 40px;
        line-height: 49px;
        color: #003366;
        text-align: center;
        @include media-query($small) {
            font-size: 28px;
            line-height: 34px;
            margin: 10px 0;
        }
    }
    .featured-collection-description {        
        font-size: 18px;
        line-height: 26px;
        color: #9B9B9B;
        text-align: center;
        margin: 30px 20% 45px 20%;
        @include media-query($medium) {            
            margin: 30px 15% 45px 15%;
        }
        @include media-query($small) {
            font-size: 14px;
            line-height: 21px;
            margin: 15px 5px 30px 5px;
        }
    }
}

.featured-collection-carousel {    
    .flickity-button {
        background: transparent;
        @include media-query($small) {
            display: none;
        }
    }
    .flickity-button-icon {
        fill: #999999;
    }
    .flickity-prev-next-button {
        width: 50px;
        height: 50px;
    }
    .flickity-prev-next-button.previous {
        left: -60px;
    }
    .flickity-prev-next-button.next {
        right: -60px;
    }
    .flickity-page-dots {
        bottom: -20px;
        @include media-query($medium-down) {
            bottom: -25px;
        }
        .dot {
            width: 7px;
            height: 7px;            
        }
    }
}

.featured-collection-product {
    width: calc(25% - 20px);
    margin: 0 10px;
    @include media-query($small) {
        width: 100%;
        margin: 0;
    }
    @include media-query($medium) {
        width: calc(50% - 20px);
    } 
    img {
        width: 100%;
    }
    .product-image {
        position: relative;
        &:hover .quick-add {
            opacity: 1;
        }
        a {
            display: block;
            line-height: 0;
        }
    }
    .sale-badge {
        position: absolute;
        top: 10px;
        right: 10px;
        background: #003366;
        font-size: 14px;
        line-height: 17px;
        font-weight: bold;
        letter-spacing: 1px;
        color: white;
        padding: 6px 12px;
    }
    .quick-add {
        opacity: 0;
        background: white;
        position: absolute;
        bottom: 18px;
        left: 18px;
        right: 18px;
        padding: 12px 0;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        line-height: 23px;
        color: #003366;
        transition: 0.2s ease-in-out;
        cursor: pointer;
        &:hover {
            box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.6);
        }
    }
    .product-info {
        margin-top: 10px;
        @include media-query($small) {
            margin-top: 15px;
        }
    }
    .product-info a {
        font-weight: bold;
        font-size: 21px;
        line-height: 26px;
        text-decoration: none;
        color: #003366;
        @include media-query($small) {
            font-size: 18px;
            line-height: 23px;
        }
    }
    .product-info p {
        font-size: 18px;
        line-height: 26px;
        color: #9B9B9B;
        margin: 10px 0 0 0;
        @include media-query($small) {
            line-height: 18px;
            margin: 12px 0 0 0;
        }
    }
}
